In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'

page = requests.get(url)

html = BeautifulSoup(page.text,'html')

In [ ]:
html

In [4]:
table = html.find_all('table')[1]

In [ ]:
table

In [6]:
titles = table.find_all('th')
titles

[<th>Rank
 </th>,
 <th>Name
 </th>,
 <th>Industry
 </th>,
 <th>Revenue <br/>(USD millions)
 </th>,
 <th>Revenue growth
 </th>,
 <th>Employees
 </th>,
 <th>Headquarters
 </th>]

In [7]:
table_titles = [title.text.strip() for title in titles]

In [8]:
table_titles

['Rank',
 'Name',
 'Industry',
 'Revenue (USD millions)',
 'Revenue growth',
 'Employees',
 'Headquarters']

In [9]:
import pandas as pd
df = pd.DataFrame(columns=table_titles)

In [ ]:
column_data = table.find_all('tr')
column_data

In [17]:
for row in column_data[2:]:
    row_data = row.find_all('td')
    ind_row_data = [data.text.strip() for data in row_data]    
    length = len(df)
    df.loc[length] = ind_row_data

In [18]:
df.head()

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"611,289",6.7%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"513,983",9.4%,"1,540,000","Seattle, Washington"
2,3,ExxonMobil,Petroleum industry,"413,680",44.8%,"62,000","Spring, Texas"
3,4,Apple,Electronics industry,"394,328",7.8%,"164,000","Cupertino, California"
4,5,UnitedHealth Group,Healthcare,"324,162",12.7%,"400,000","Minnetonka, Minnesota"

In [20]:
df.to_csv('company details.csv')